[Unit]
Description=Insync
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
Environment=XDG_CURRENT_DESKTOP=sway
ExecStart=/usr/bin/insync start --no-daemon
ExecStop=/usr/bin/insync quit
Restart=on-failure
RestartSec=3

[Install]
WantedBy=graphical-session.target
