@define-color background #1F1F28;

* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font;
    font-size: 16px;
}

/* window#waybar { */
/*     background: rgba(31, 31, 40, 0.80); */
/*     color: #DCD7BA; */
/* } */

window#waybar {
    /* background: transparent; */
    /* color: #DCD7BA; */
    /* color: #000000; */
    color: @background;
}

/* window > box { */
/* 	  margin: 8px; */
/*     background: rgba(31, 31, 40, 0.90); */
/*     color: #DCD7BA; */
/*     border-radius: 4px; */
/* } */

#window {
    font-weight: bold;
}

#workspaces {
    font-weight: bold;
    padding: 0 5px;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #DCD7BA;
    border-top: 2px solid transparent;
}

#workspaces button.focused {
    color: #E46876;
    border-top: 2px solid #E46876;
}

#workspaces button.active {
    color: #383c4a;
    background: #5294e2;
    border-radius: 15px;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
}

#mode {
    background: #1F1F28;
    border-bottom: 3px solid white;
}

#custom-battery-draw,
#backlight,
#custom-fan,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#custom-power,
#custom-menu,
#idle_inhibitor {
    padding: 0 8px;
    color: #DCD7BA;
}

#custom-separator {
  color: #DCD7BA;
  margin: 0 1px;
  padding: 0 1px;
}

#clock {
    font-weight: bold;
}

#battery {
}

#battery icon {
    color: #C34043;
}

#battery.charging {
}

/*@keyframes blink {*/
/*    to {*/
/*        background-color: #DCD7BA;*/
/*        color: #16161D;*/
/*    }*/
/*}*/

#battery.warning:not(.charging) {
    color: #DCD7BA;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    background: #C34043;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#tray {
}
