configuration {
    modi: "run,drun";
    font: "JetBrainsMono 12";
    show-icons: true;
    run-list-command: "";
    run-shell-command: "alacritty --hold -e zsh -ic {cmd} && read";
    combi-modi: "window,drun,run";
	scroll-method: 0;
    kb-remove-to-eol: "";
    kb-accept-entry: "Control+m,Return,KP_Enter";
    kb-row-up: "Up,Control+p,Control+k";
    kb-row-down: "Down,Control+n,Control+j";
}
@theme "Arc-Dark"
